name: "Build the docs"

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-docs:
    name: build-docs
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '#no-gha') }}
    strategy:
      matrix:
        # Specify the maintained VTL versions
        version: [ "2.1", "2.2" ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'
    - name: Setup Java 8
      uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: "temurin"
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install graphviz texlive-font-utils libcairo2-dev -y
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        wget -O /tmp/plantuml.jar https://github.com/plantuml/plantuml/releases/download/v1.2025.9/plantuml-1.2025.9.jar
    - name: Sphynx build
      run: |
        sphinx-build -M html docs outputdir/
        sphinx-build -M html v2.1/docs outputdir/2.1/
        sphinx-build -b pdf v2.1/docs outputdir/2.1/html/pdf
        sphinx-build -M html v2.2/docs outputdir/2.2/
        sphinx-build -b pdf v2.2/docs outputdir/2.2/html/pdf
        mv outputdir/html/* outputdir/
    - name: Fix permissions
      run: |
        chmod -c -R +rX "outputdir/" | while read line; do
          echo "::warning title=Invalid file permissions automatically fixed::$line"
        done
    # Create and upload Pages artifact from docs dir
    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: outputdir
    # Upload preview html artifact
    - name: Upload HTML docs ${{ matrix.version }}
      uses: actions/upload-artifact@v4
      with:
        name: docs-${{ matrix.version }}-html
        if-no-files-found: error
        path: |
          outputdir/${{ matrix.version }}/html/**
          !outputdir/${{ matrix.version }}/html/pdf/**
    # Upload preview pdf artifact
    - name: Upload PDF docs ${{ matrix.version }}
      uses: actions/upload-artifact@v4
      with:
        name: docs-${{ matrix.version }}-pdf
        if-no-files-found: error
        path: outputdir/${{ matrix.version }}/html/pdf/latex/vtl.pdf

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-docs
    if: ${{ github.event_name != 'pull_request' && !contains(github.event.head_commit.message, '#no-gha') }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
